.contacts__container {
    height: 80vh;
    width: 100%;
    background: #45062E;
    color: #fafaff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_message {
    font-size: 20px;
    margin-top: 2rem;
    /* padding-top: 3rem; */
    text-align: center;
    /* padding-top: 3rem; */
    text-transform: capitalize;
    font-weight: 400;
}

.contact-list{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 80%;
}

.contact-card{
    background: #fafaff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #45062E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-card-link{
    width: max-content;
    padding: 10px 15px;
    background-color: #45062E;
    color: #fafaff;
    margin: 15px 0;
    border-radius: 5px;
    text-decoration: none;
}

.contact-card-link:hover{
   opacity: 0.9;
   cursor: pointer;
   margin-top: 10px;
}
.contact i {
    font-size: 20px;
}

@media (max-width: 782px) {
    /* .contacts__container {
        height: 100%;
    } */
    .contacts__info {
        flex-direction: column;
        align-items: center;
        height: 12rem;
        /* justify-content: center; */
    }
    .contact_message h4 {
        font-size: 18px;
        /* text-align: justify; */
        line-height: 3rem;
        padding-top: .3rem;
    }
    .contact a {
        padding: 1rem;
    }
}