.header {
    width: 100%;
    background-color: #45062E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    height: 10vh;
}

.logo {
    width: 30%;
}

.logo img {
    width: 80px;
    object-fit: cover;
}

.nav-bar {
    width: 40%;
}

.nav-icon {
    display: none;
}

.nav-links {
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: #fafaff;
    position: relative;
}

.nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fafaff;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all .5s;
}

.nav-link:hover::after {
    width: 50px;
}

@media (max-width: 782px) {
    .header {
        padding: 2rem;
        padding-bottom: 3rem;
        /* position: relative; */
    }
    .logo img {
        transform: scale(0.8);
    }
    .nav-bar {
        position: relative;
        width: 70%;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
        position: absolute;
        top: 2rem;
        right: -100%;
        opacity: 1;
        transition: all .5s ease;
        overflow: hidden;
    }
    .nav-links.active {
        background-color: #fafaff;
        color: #45062E;
        right: 0%;
        opacity: 1;
        z-index: 1;
        transition: all .5s ease;
    }
    .nav-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        color: #45062E;
        display: table;
    }
    .nav-link:hover {
        transform: scale(1.1);
        border-radius: 0;
    }
    .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .fa-times {
        color: #fff;
        font-size: 2rem;
    }
}