* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /* overflow: hidden; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    background: #45062E;
    color: #FAFAFF;
    border-top: 5px solid #c2138231;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 12px;
}

.footer__note {
    padding: .7rem;
}